@mixin center {
    position: absolute;
    top: 50%;
    left: 50%; 
    translate: -50% -50%;
}
// TODO: maybe make a separate functions folder
@function number($string) {
    // Matrices
    $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
    $numbers: 0 1 2 3 4 5 6 7 8 9;
  
    // Result
    $result: 0;
  
    // Looping through all characters
    @for $i from 1 through str-length($string) {
      // Do magic
    }
  
    @return $result;
  }